<div class="row">
  <div class="col-md-3">
    <div class="text-center position-relative">
      <div
        class="position-absolute top-0 start-50 translate-middle size-perfil-img"
      >
        <img
          src="../../../assets/pad.png"
          class="perfil-img"
          alt="..."
        />
      </div>
      <div class="perfil-name-title">
        <h5 class="fs-3">Agustin Luna</h5>
        <p class="fs-6 fw-light mt-n1">Developer FullStack</p>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <div class="pt-5">
      <h2 class="text-primary pb-4 fw-light">Acerca de mi</h2>
      <div class="about-content">
        <div class="about-cards">
          <article class="about-card">
            <!-- <lord-icon -->
              <!-- src="https://cdn.lordicon.com/nobciafz.json" -->
              <!-- trigger="hover" -->
              <!-- colors="primary:#ec00ad,secondary:#ec00ad" -->
              <!-- style="width: 60px; height: 60px" -->
            <!-- > -->
            <!-- </lord-icon> -->i
            <h5>Experiencia</h5>
            <small>+4 años Programando</small>
          </article>
          <article class="about-card">
            <!-- <lord-icon -->
              <!-- src="https://cdn.lordicon.com/wxnxiano.json" -->
              <!-- trigger="hover" -->
              <!-- colors="primary:#ec00ad,secondary:#121331" -->
              <!-- state="hover" -->
              <!-- style="width: 50px; height: 50px" -->
            <!-- > -->
            <!-- </lord-icon> -->i
            <h5>Conocimientos</h5>
            <small>+5 Lenguajes Nivel Junior</small>
          </article>
          <article class="about-card">
            <!-- <lord-icon -->
              <!-- src="https://cdn.lordicon.com/bbnkwdur.json" -->
              <!-- trigger="morph" -->
              <!-- style="width: 50px; height: 50px" -->
              <!-- colors="primary:#ec00ad,secondary:#ec00ad" -->
            <!-- > -->
            <!-- </lord-icon> -->i
            <h5>Proyectos</h5>
            <small>+3 Terminados y mas por hacer</small>
          </article>
        </div>
        <p>
          Me considero alguien con mucha paciencia, dedicada, con gran
          disposición hacia los demás y con ganas de aprender. Aprendo rápido y
          me puedo adaptar muy bien a cualquier lenguaje.
        </p>
      </div>
    </div>
  </div>
</div>
