<div class="row pt-5">
    <h2 class="text-primary pb-4 fw-light text-center w-100">
      Experiencia
    </h2>
    <div class="experience-container">
      <div class="experience-frontend">
        <h3>Frontend Development</h3>
        <div class="experience-content">
          <article class="experience-details">i
            <!-- <lord-icon -->
              <!-- src="https://cdn.lordicon.com/surjmvno.json" -->
              <!-- trigger="morph" -->
              <!-- colors="primary:#ffffff,secondary:#ec00ad" -->
              <!-- style="width: 30px; height: 30px" -->
            <!-- > -->
            <!-- </lord-icon> -->
            <div>
              <h5>Nombre</h5>
              <small class="text-light">Nivel</small>
            </div>
          </article>
        </div>
      </div>
      <div class="esperience-backend">
        <h3>Backtend Development</h3>
        <div class="experience-content">
          <article class="experience-details">i
            <!-- <lord-icon -->
              <!-- src="https://cdn.lordicon.com/surjmvno.json" -->
              <!-- trigger="morph" -->
              <!-- colors="primary:#ffffff,secondary:#ec00ad" -->
              <!-- style="width: 30px; height: 30px" -->
            <!-- > -->
            <!-- </lord-icon> -->
            <div>
              <h5>Nombre</h5>
              <small class="text-light">Nivel</small>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
