.portfolio-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}
.portfolio-item {
  background: rgb(60, 60, 60);
  padding: 1.3rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: all 400ms ease;
}
.portfolio-item:hover {
  border-color: var(--bs-primary);
  background: transparent;
}



img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.about-container {
  display: grid;
  grid-template-columns: 35% 50%;
  gap: 15%;
}
.about-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}
.about-card {
  background: rgb(60, 60, 60);
  border: 1px solid transparent;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
  transition: all 400ms ease;
}
.about-card:hover {
  background: transparent;
  border-color: var(--bs-primary);
  cursor: default;
}
.about-card h5 {
  font-size: 0.95rem;
}
.about-card small {
  font: size 0.7em;
  color: var(--text-light);
}
.service {
  background: rgb(60, 60, 60);
  border-radius: 2rem 2rem 2rem 2rem;
  border: 1px solid rgb(60, 60, 60);
  height: fit-content;
  transition: all 400ms ease;
}
.service:hover {
  background: transparent;
  border-color: var(--bs-primary);
  cursor: default;
}
.service-head {
  background: var(--bs-primary);
  padding: 2rem;
  border-radius: 2rem 0.2rem 0.2rem 2rem;
  box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.1);
}
.service-head:hover {
  background: var(--bs-primary);
}
.service-head h3 {
  font-weight: 600;
  color: #000;
  font-size: 1.1rem;
  text-align: center;
}
.service-head h5 {
  color: var(--text-light);
  font-size: 0.8rem;
  text-align: center;
}
.about-content p {
  margin: 2rem 0 2.6rem;
  color: var(--text-light);
}
.mt-n1 {
  margin-top: -0.4rem !important;
}

@media screen and (max-width: 1024px) {
  .experience-container {
    grid-template-columns: 1fr;
  }
  .experience-container > div {
    width: 80%;
    padding: 2rem;
    margin: 0 auto;
  }
  .experience-content {
    padding: 1rem;
  }
  .portfolio-container {
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
  }
  .services-container {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  .service-head {
    border-radius: 2rem 2rem 2rem 2rem;
  }
  .service {
    height: auto;
  }
  .about-container {
    grid-template-columns: 1fr;
    gap: 0;
  }
  .about-content {
    text-align: center;
  }
  .about-content p {
    margin: 1rem 0 1.5rem;
  }
}
@media screen and (max-width: 600px) {
  .experience-container {
    gap: 1rem;
  }
  .experience-container > div {
    width: 100%;
    padding: 2rem 1rem;
  }
  .portfolio-container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .about-cards {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .about-content {
    text-align: center;
  }
  .about-content p {
    margin: 1.5rem 0;
  }
  .services-container {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
  .service-head {
    border-radius: 2rem 2rem 0.2rem 0.2rem;
  }
}
.portfolio-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}
.portfolio-item {
  background: rgb(60, 60, 60);
  padding: 1.3rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: all 400ms ease;
}
.portfolio-item:hover {
  border-color: var(--bs-primary);
  background: transparent;
}
.portfolio-item-image {
  border-radius: 1.5rem;
  overflow: hidden;
}
.portfolio-item h3 {
  margin: 1.2rem 0 2rem;
}
.portfolio-item-cta {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}
@keyframes growProgressBar {
  0%,
  33% {
    --pgPercentage: 0;
  }
  100% {
    --pgPercentage: var(--value);
  }
}
@property --pgPercentage {
  syntax: "<number>";
  inherits: false;
  initial-value: 0;
}
div[role="progressbar"] {
  --size: 5rem;
  --fg: var(--bs-primary);
  --bg: #000;
  --pgPercentage: var(--value);
  animation: growProgressBar 3s 1 forwards;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  display: grid;
  place-items: center;
  background: radial-gradient(
      closest-side,
      rgb(60, 60, 60) 80%,
      transparent 0 99.9%,
      rgb(60, 60, 60) 0
    ),
    conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0);
  font-family: Helvetica, Arial, sans-serif;
  font-size: calc(var(--size) / 5);
  color: var(--fg);
  transition: all 400ms ease;
}
div[role="progressbar"]:hover {
  --fg: var(--bs-primary);
  background: radial-gradient(
      closest-side,
      rgb(39, 39, 39) 80%,
      transparent 0 99.9%,
      rgb(39, 39, 39) 0
    ),
    conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0);
}
div[role="progressbar"]::before {
  counter-reset: percentage var(--value);
  content: counter(percentage) "%";
}
