<nav class="navbar navbar-dark bg-dark">
      <div class="container-fluid">
        <div class="navbar-brand ms-3">
          <div class="fs-5">Argentina Programa</div>
          <div class="fs-6">#YoProgramo</div>
        </div>

        <a href="login.html">
          <!-- <lord-icon -->
            <!-- src="https://cdn.lordicon.com/dqxvvqzi.json" -->
            <!-- trigger="hover" -->
            <!-- colors="outline:#000000,primary:#e8308c,secondary:#e8308c" -->
            <!-- state="hover-nodding" -->
            <!-- style="width: 60px; height: 60px" -->
          <!-- > -->
          <!-- </lord-icon> -->
          login.
        </a>
      </div>
    </nav>
